/* Header */

.btnHeader {
    background-color: #ffd60a;
}

.container header {
    background-color: #29d46d;
}

.wraper-header {
    background: #fac15d rgb(250, 193, 93);
}

.check_container_header {
    left: 80vw;
    transform: translateX(-50vw);
    margin-top: 200px;
    border-radius: 4px;
    background-color: #d9d7d359;
    width: 40%;
    height: 25%;
}

.check_container_header_buttom {
    left: 71vw;
    transform: translateX(-50vw);
    margin-left: 0px;
    border-radius: 4px;
    height: 20px;
    margin-top: 90px;

    /* background-color: #d9d7d359; */
    width: 40%;
}

.check_container_header_question {
    left: 73vw;
    transform: translateX(-50vw);
    margin-top: 50px;
    margin-left: 15px;
    border-radius: 4px;
    /* background-color: #d9d7d359; */
    width: 40%;
}

@media (max-width: 535px) {
    .hidden-xs {
        display: none !important;
    }
}