.form-control {
    border-color: #ffc300;
}

#pills-user-tab {
    background-color: #ffc300;
}

.card-registration {
    border: #ffc300 solid 2px;
}

#submitButton1,
#submitButton2 {
    background-color: #ffc300;
    border: none;
}