.nav-link-navbar {
    color: #003566;
}

.nav-link-navbar:hover {
    color: #003566;
    background-color: #ffd60a;
}

.navbar-collapse-width {
    width: 40%;
}

.navbar-collapse-button {
    background-color: #003566;
}

.navbar-toggler-icon {
    color: white !important;
}