.form-control-signup {
    border-color: #ffc300;
}

.nav-link-signup.active,
.nav-link:active {
    background-color: #ffd60a !important;
    color: #001d3d !important;
}

.nav-pills {
    color: #001d3d;
}

.nav-link-signup {
    color: #001d3d;
}

.nav-link-signup:focus,
.nav-link-signup:hover {
    color: #001d3d;
}

.card-registration {
    border: #ffc300 solid 2px;
}