#submitButton1,
#submitButton2 {
    background-color: #ffd60a;
    border-color: #ffc300;
}

.form-control-signup {
    border-color: #ffc300;
}

.nav-link-signup.active {
    background-color: #ffd60a !important;
}

.nav-link-signup {
    color: #ffc300;
}

.nav-link-signup:focus,
.nav-link-signup:hover {
    color: #ffc300;
}

.card-registration {
    border: #ffc300 solid 2px;
}